# Dependências Node.js
node_modules/

# Variáveis secretas
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações de editor
.vscode/
.idea/

# Cobertura de testes
coverage/

# Arquivos temporários
tmp/
temp/   